*{
    margin: 0;
    background-color: rgb(200, 224, 245);
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: center;
    position: relative;
    top: 90px;
    font-size: 40px;
}
iframe{
    position: absolute;
    top: 25%;
    left: 16%;
}