*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(200, 224, 245);
}
h1{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}
p{
    text-align: center;
    font-size: 20px;
}